body {
    font: 0.8em Arial,sans-serif;
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0 0 1em;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255) none repeat scroll 0 0;
}

.bar-wrapper {
    display: inline-block;
    width:110px;
}

.feeding-progress-bar-fill {
    background: rgb(226, 226, 226) none repeat scroll 0 0;
    height: 50px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transition: width 0.2s linear 0s; }

.feeding-progress-bar-block {
    position: relative;
    margin: 0 -20px -20px -20px;
    background: rgb(56, 172, 77) none repeat scroll 0 0;
    height: 100px;
    width: 100px;
}

.cleaning-progress-bar-fill {
    background: rgb(226, 226, 226) none repeat scroll 0 0;
    height: 50px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transition: width 0.2s linear 0s; }

.cleaning-progress-bar-block {
    position: relative;
    margin: 0 -20px -20px -20px;
    background: rgb(56, 172, 77) none repeat scroll 0 0;
    height: 100px;
    width: 100px;
}

.gaming-progress-bar-fill {
    background: rgb(226, 226, 226) none repeat scroll 0 0;
    height: 50px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transition: width 0.2s linear 0s; }

.gaming-progress-bar-block {
    position: relative;
    margin: 0 -20px -20px -20px;
    background: rgb(56, 172, 77) none repeat scroll 0 0;
    height: 100px;
    width: 100px;
}

.training-progress-bar-fill {
    background: rgb(226, 226, 226) none repeat scroll 0 0;
    height: 50px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transition: width 0.2s linear 0s; }

.training-progress-bar-block {
    position: relative;
    margin: 0 -20px -20px -20px;
    background: rgb(56, 172, 77) none repeat scroll 0 0;
    height: 100px;
    width: 100px;
}