.assoc-table .item {
    background-color: #fff;
    padding: 10px 20px;
}

.assoc-table .item .number {
    font-weight: bold;
    width: 1em;
    display: inline-block;
}

.assoc-table .answers {
    padding: 20px;
}

.assoc-table .answers .answer {
    display: inline-block;
    border: 1px solid #000;
    border-right: 0;
    width: 50px;
}

.assoc-table .answers .answer .option {
    display: inline-block;
    font-weight: bold;
}

.assoc-table .answers .answer .association {
    display: inline-block;
    border-top: 1px solid #000;
}

.assoc-table .answers .answer .association input {
    border: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.assoc-table .answers .answer:last-child {
    border-right: 1px solid #000;
}