/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/
.table-finish {display: table; border-spacing:0px; border:solid 0px ghostwhite; width: 100%; overflow-wrap: break-word}
.table-row {display:table-row; border:solid 1px ghostwhite; width: 100%}
.table-cell {display:table-cell; border:solid 1px gainsboro; text-align: center; padding: 5px}
.table-cell-top {display:table-cell; border:solid 1px gainsboro; text-align: center; vertical-align:middle}
.table-cell-left {display:table-cell; border:solid 1px gainsboro; text-align: left}
.table-cell-danger {display:table-cell; border:solid 1px gainsboro; background-color: #F3565D; text-align: center; color: white}
.table-cell-success {display:table-cell; border:solid 1px gainsboro; background-color: #26A69A; text-align: center; color: white}
.table-finish ul li {margin: 3px; padding: 5px; line-height: 1em}

table.table-finish { width: 100%; border: 0px none; margin-top: -16px;   }
 .table-finish th {vertical-align: middle; text-align: center;  padding-top: 20px; margin-top: 20px}
/*table.table-finish > tbody td { padding: 7px 6px; border: 0px none; color: rgb(0, 0, 0); }
table.table-finish > tbody > tr > th { width: auto; padding: 11px 6px; position: relative; border: 0px none; font-weight: 400; font-size: 15px; color: #0a0a0a; text-align: left; }
table.table-finish > tbody > tr > th:first-child, table.table-finish > tbody > tr > td:first-child { width: 15%; padding-left: 20px; text-align: left; }
table.table-finish > tbody > tr > th:first-child + th { width: 25%; }
table.table-finish > tbody > tr > th:first-child + th + th { width: 25%; }*/
table.table-finish > tbody > tr > th { width: 1%; vertical-align: middle; padding: 5px;}
table.table-finish > tbody > tr > td, table.table-finish > tbody > tr.odd > td { padding: 7px 7px; border-top: 1px solid rgb(210, 225, 207); position: relative; font-size: 13px; background: transparent none repeat scroll 0px center; }
table.table-finish > tbody > tr > td > p:first-child { margin-top: 0px; }
table.table-finish > tbody > tr > td > p:last-child { margin-bottom: 0px; }
/*table.table-finish > tbody > tr > td span.red { color: red; }
table.table-finish > tbody > tr > td span.green { color: #ffffff; }
table.table-finish > tbody > tr > td span.orange { color: orange; }*/
table.table-finish .fa { float: none; margin: auto; cursor: pointer; }
table.table-finish i { display: none; }

table.table-finish .fa.options-text{ width: 45px; height: 52px; display: block; position: relative;  background: transparent url('/i/optionsicon.png') no-repeat scroll 0px 0px; }
table.table-finish .fa.answer-text { width: 45px; height: 52px; display: block; position: relative;  background: transparent url('/i/youranswericon.png') no-repeat scroll 0px 0px; }
table.table-finish .fa.correct-answer-text { width: 45px; height: 52px; display: block; position: relative;  background: transparent url('/i/correctanswericon.png') no-repeat scroll 0px 0px; }
table.table-finish .fa.explanation-text{ width: 45px; height: 52px; display: block; position: relative;  background: transparent url('/i/explanationicon.png') no-repeat scroll 0px 0px; }

.element-container {position: absolute; width: 700px; height: auto;  z-index: 1;  }
.required-container {position: relative; width: 77%; height: auto; margin-top: 555px;   z-index: 1;  }
.passed-container {position: relative; width: 77%; height: auto;    z-index: 1;  }


.orange { width: 70px; top: 150px; left: 300px; z-index: 3; }
.orange_2 { width: 65px; top: 155px; left: 315px; z-index: 1; }
.orange_3 { width: 60px; top: 160px; left: 330px; z-index: 1; }
.orange_4 { width: 55px; top: 147px; left: 315px; z-index: 1; }
.orange_5 { width: 50px; top: 146px; left: 320px; z-index: 1; }
.orange_6 { width: 45px; top: 145px; left: 325px; z-index: 1; }
.orange_7 { width: 40px; top: 144px; left: 330px; z-index: 1; }
.orange_8 { width: 35px; top: 143px; left: 335px; z-index: 1; }
.orange_9 { width: 30px; top: 142px; left: 340px; z-index: 1; }
.orange_10 { width: 25px; top: 141px; left: 345px; z-index: 1; }

.milk_carton { width: 25px; top: 150px; left: 360px; z-index: 2; }
.milk_carton_2 { width: 22px; top: 153px; left: 375px; z-index: 1; }
.milk_carton_3 { width: 22px; top: 153px; left: 375px; z-index: 1; /*width: 25px; top: 150px; left: 380px; z-index: 1;*/ }
.milk_carton_4 { width: 22px; top: 153px; left: 375px; z-index: 1; /*width: 22px; top: 153px; left: 395px; z-index: 1;*/ }
.milk_carton_5 { width: 70px; top: 160px; left: 380px; z-index: 1; }
.milk_carton_6 { width: 70px; top: 160px; left: 380px; z-index: 1; }
.milk_carton_7 { width: 70px; top: 160px; left: 380px; z-index: 1; }
.milk_carton_8 { width: 70px; top: 160px; left: 380px; z-index: 1; }
.milk_carton_9 { width: 70px; top: 160px; left: 380px; z-index: 1; }
.milk_carton_10 { width: 70px; top: 160px; left: 380px; z-index: 1; }

.sandwich { width: 40px; top: 350px; left: 390px; z-index: 1; }
.sandwich_2 { width: 35px; top: 350px; left: 405px; z-index: 1; }
.sandwich_3 { width: 30px; top: 355px; left: 410px; z-index: 1; }
.sandwich_4 { width: 30px; top: 355px; left: 410px; z-index: 1; }
.sandwich_5 { width: 30px; top: 355px; left: 410px; z-index: 1; }
.sandwich_6 { width: 30px; top: 355px; left: 410px; z-index: 1; }
.sandwich_7 { width: 30px; top: 355px; left: 410px; z-index: 1; }
.sandwich_8 { width: 30px; top: 355px; left: 410px; z-index: 1; }
.sandwich_9 { width: 30px; top: 355px; left: 410px; z-index: 1; }
.sandwich_10 { width: 30px; top: 355px; left: 410px; z-index: 1; }

.meat { width: 60px; top: 115px; left: 240px; z-index: 1; }
.meat_2 { width: 80px; top: 320px; left: 300px; z-index: 1; }
.meat_3 { width: 60px; top: 330px; left: 300px; z-index: 2; }
.meat_4 { width: 60px; top: 330px; left: 300px; z-index: 2; }
.meat_5 { width: 60px; top: 330px; left: 300px; z-index: 2; }
.meat_6 { width: 60px; top: 330px; left: 300px; z-index: 2; }
.meat_7 { width: 60px; top: 330px; left: 300px; z-index: 2; }
.meat_8 { width: 60px; top: 330px; left: 300px; z-index: 2; }
.meat_9 { width: 60px; top: 330px; left: 300px; z-index: 2; }
.meat_10 { width: 60px; top: 330px; left: 300px; z-index: 2; }

.potato_chips { width: 70px; top: 240px; left: 300px; z-index: 1; }
.potato_chips_2 { width: 65px; top: 240px; left: 325px; z-index: 1; }
.potato_chips_3 { width: 70px; top: 240px; left: 300px; z-index: 1; }
.potato_chips_4 { width: 70px; top: 240px; left: 300px; z-index: 1; }
.potato_chips_5 { width: 70px; top: 240px; left: 300px; z-index: 1; }
.potato_chips_6 { width: 70px; top: 240px; left: 300px; z-index: 1; }
.potato_chips_7 { width: 70px; top: 240px; left: 300px; z-index: 1; }
.potato_chips_8 { width: 70px; top: 240px; left: 300px; z-index: 1; }
.potato_chips_9 { width: 70px; top: 240px; left: 300px; z-index: 1; }
.potato_chips_10 { width: 70px; top: 240px; left: 300px; z-index: 1; }

.hot_dog { width: 70px; top: 250px; left: 380px; z-index:1; }
.hot_dog_2 { width: 70px; top: 250px; left: 380px; z-index:1; }
.hot_dog_3 { width: 70px; top: 250px; left: 380px; z-index:1; }
.hot_dog_4 { width: 70px; top: 250px; left: 380px; z-index:1; }
.hot_dog_5 { width: 70px; top: 250px; left: 380px; z-index:1; }
.hot_dog_6 { width: 70px; top: 250px; left: 380px; z-index:1; }
.hot_dog_7 { width: 70px; top: 250px; left: 380px; z-index:1; }
.hot_dog_8 { width: 70px; top: 250px; left: 380px; z-index:1; }
.hot_dog_9 { width: 70px; top: 250px; left: 380px; z-index:1; }
.hot_dog_10 { width: 70px; top: 250px; left: 380px; z-index:1; }

.coffee { width: 70px; top: 320px; left: 380px; z-index: 1; }
.coffee_2 { width: 70px; top: 320px; left: 380px; z-index: 1; }
.coffee_3 { width: 70px; top: 320px; left: 380px; z-index: 1; }
.coffee_4 { width: 70px; top: 320px; left: 380px; z-index: 1; }
.coffee_5 { width: 70px; top: 320px; left: 380px; z-index: 1; }
.coffee_6 { width: 70px; top: 320px; left: 380px; z-index: 1; }
.coffee_7 { width: 70px; top: 320px; left: 380px; z-index: 1; }
.coffee_8 { width: 70px; top: 320px; left: 380px; z-index: 1; }
.coffee_9 { width: 70px; top: 320px; left: 380px; z-index: 1; }
.coffee_10 { width: 70px; top: 320px; left: 380px; z-index: 1; }


/*

'/i/chocolate.png',
'/i/cookie_cat.png',
'/i/banana.png',
'/i/donut.png',

.one { width: 70px; top: 150px; left: 300px; z-index: 1; }
.two { width: 70px; top: 160px; left: 380px; z-index: 1; }
.three { width: 70px; top: 240px; left: 300px; z-index: 1; }
.four { width: 70px; top: 250px; left: 380px; z-index:1; }
.five { width: 70px; top: 320px; left: 300px; z-index: 1; }
.six { width: 70px; top: 320px; left: 380px; z-index: 1; }*/

.feeding IMG { position: absolute; }

.feeding IMG:hover { z-index:2;
 -webkit-transform: scale(1.02);
 -moz-transform: scale(1.02);
 -o-transform: scale(1.02);}

.feeding span {
    z-index:1;
    position: absolute;
    width: 50px;
    /*top:100px;
    left: 300px;*/

    /* Оформление текста */
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;

    /* Фон */
    background-color:rgba(0,0,0,.1);
    padding:1px 10px;
}

.learning IMG { position: absolute; }
.learning {height: 500px; width: 500px}
.schooldeskcat { top: 150px; left: 200px; z-index: 3; }
.blackboard { top: -380px; left: 100px; z-index: 3; }
.backpack {top: -385px; left: 390px; z-index: 4;}
.bell {top: -745px; left: 360px; z-index: 4;}
.schoolsponge {top: -775px; left: 110px; z-index: 4;}
.colorchalks {top: -810px; left: 170px; z-index: 4;}
.calendar {top: -1050px; left: 320px; z-index: 4;}
.book {top: -890px; left: 340px; z-index: 4;}
.diary {top: -920px; left: 300px; z-index: 4;}
.copybook {top: -935px; left: 340px; z-index: 4;}
.stand {top: -1000px; left: 230px; z-index: 5;}
.colorpaper {top: -1095px; left: 230px; z-index: 4;}
.dailybook {top: -1130px; left: 210px; z-index: 4;}
.ruler {top: -1225px; left: 260px; z-index: 4;}
.scissors {top: -1290px; left: 280px; z-index: 4;}
.paperknife {top: -1355px; left: 250px; z-index: 4;}
.pen {top: -1330px; left: 470px; z-index: 4;}
.pencil {top: -1345px; left: 470px; z-index: 4;}
.stapler {top: -1430px; left: 250px; z-index: 6;}
.glue {top: -1425px; left: 295px; z-index: 5;}
.alarmclock {top: -1355px; left: 290px; z-index: 4;}
.scotch {top: -1450px; left: 340px; z-index: 4;}
.colors {top: -1450px; left: 480px; z-index: 4;}
.brushesjar {top: -1480px; left: 400px; z-index: 4;}
.album {top: -1625px; left: 430px; z-index: 4;}
.felttippens {top: -1630px; left: 440px; z-index: 4;}
.plasticine {top: -1725px; left: 410px; z-index: 4;}
.corrector {top: -1910px; left: 530px; z-index: 4;}
.stencil {top: -1925px; left: 410px; z-index: 4;}
.eraser {top: -2025px; left: 240px; z-index: 6;}
.clips {top: -2030px; left: 270px; z-index: 5;}
.sharpener {top: -2000px; left: 385px; z-index: 6;}
.chalk {top: -2150px; left: 320px; z-index: 4;}
.laptop {top: -2095px; left: 310px; z-index: 4;}

.learning IMG:hover { z-index:4;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);}

.learning span {
    z-index:6;
    position: absolute;
    width: 30px;
    /*top:100px;
    left: 300px;*/

    /* Оформление текста */
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;

    /* Фон */
    background-color:rgba(226, 226, 226, 0.3);

}

.cleaning {
    width: 850px;
    height: 950px;
}
.cleaning IMG { position: absolute; }

.cleaning IMG:hover {z-index: 7;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);}

.cleaning span {
    z-index:5;
    position: absolute;
    width: 50px;
    /*top:100px;
    left: 300px;*/

    /* Оформление текста */
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;

    /* Фон */
    background-color:rgba(0,0,0,.1);
    padding:1px 10px;
}

.cleancat { top: 90px; left: 800px; z-index: 5; }

.bath { width: 400px; top: 300px; left: 550px; z-index: 1; }
.bucket {width: 70px; top: 450px; left: 550px; z-index: 3;}
.mop {width: 100px; top: 270px; left: 540px; z-index: 4;}
.toilet {top: 90px; left: 500px; z-index: 3;}


.catstoilet {width: 400px; top: 300px; left: 550px; z-index: 1;}
.toiletbrush {width: 400px; top: 300px; left: 550px; z-index: 1;}
.petshovel {width: 400px; top: 300px; left: 550px; z-index: 1;}
.urn {width: 400px; top: 300px; left: 550px; z-index: 1;}
.toiletpaper {width: 400px; top: 300px; left: 550px; z-index: 1;}
.scoop {width: 400px; top: 300px; left: 550px; z-index: 1;}
.scoopbrush {width: 400px; top: 300px; left: 550px; z-index: 1;}
.washer {width: 400px; top: 300px; left: 550px; z-index: 1;}
.towel {width: 400px; top: 300px; left: 550px; z-index: 1;}
.bowl {width: 400px; top: 300px; left: 550px; z-index: 1;}
.bathsponge {width: 400px; top: 300px; left: 550px; z-index: 1;}
.chlorinepurifier {width: 400px; top: 300px; left: 550px; z-index: 1;}
.freshener {width: 400px; top: 300px; left: 550px; z-index: 1;}
.washingpowder {width: 400px; top: 300px; left: 550px; z-index: 1;}
.cleaningagentbottle {width: 400px; top: 300px; left: 550px; z-index: 1;}
.cleaningagentbank {width: 400px; top: 300px; left: 550px; z-index: 1;}
.cleaningagentbox {width: 400px; top: 300px; left: 550px; z-index: 1;}
.bathspongeforbody {width: 400px; top: 300px; left: 550px; z-index: 1;}
.bathbrush {width: 400px; top: 300px; left: 550px; z-index: 1;}
.metalwoolcloth {width: 400px; top: 300px; left: 550px; z-index: 1;}
.wetwipes {width: 400px; top: 300px; left: 550px; z-index: 1;}
.latexgloves {width: 400px; top: 300px; left: 550px; z-index: 1;}
.rubberbrush {width: 400px; top: 300px; left: 550px; z-index: 1;}
.jug {width: 400px; top: 300px; left: 550px; z-index: 1;}
.toothpaste {width: 400px; top: 300px; left: 550px; z-index: 1;}
.toothbrush {width: 400px; top: 300px; left: 550px; z-index: 1;}
.toothpicks {width: 400px; top: 300px; left: 550px; z-index: 1;}
.dentalfloss {width: 400px; top: 300px; left: 550px; z-index: 1;}
.soap {width: 400px; top: 300px; left: 550px; z-index: 1;}
.massagecomb {width: 400px; top: 300px; left: 550px; z-index: 1;}
.tubecream {width: 400px; top: 300px; left: 550px; z-index: 1;}
.twotowels {width: 400px; top: 300px; left: 550px; z-index: 1;}
.vacuumcleaner {width: 400px; top: 300px; left: 550px; z-index: 1;}
.massager {width: 400px; top: 300px; left: 550px; z-index: 1;}

.broom { width: 70px; top: 370px; left: 520px; z-index: 1; }
.broom_2 { width: 100px; top: 175px; left: 315px; z-index: 1; }
.broom_3 { width: 60px; top: 160px; left: 330px; z-index: 1; }
.broom_4 { width: 55px; top: 147px; left: 315px; z-index: 1; }
.broom_5 { width: 50px; top: 146px; left: 320px; z-index: 1; }
.broom_6 { width: 45px; top: 145px; left: 325px; z-index: 1; }
.broom_7 { width: 40px; top: 144px; left: 330px; z-index: 1; }
.broom_8 { width: 35px; top: 143px; left: 335px; z-index: 1; }
.broom_9 { width: 30px; top: 142px; left: 340px; z-index: 1; }
.broom_10 { width: 25px; top: 141px; left: 345px; z-index: 1; }

.brush { width: 70px; top: 160px; left: 380px; z-index: 2; }
.brush_2 { width: 60px; top: 175px; left: 395px; z-index: 1; }
.brush_3 { width: 70px; top: 160px; left: 380px; z-index: 1; }
.brush_4 { width: 70px; top: 160px; left: 380px; z-index: 1; }
.brush_5 { width: 70px; top: 160px; left: 380px; z-index: 1; }
.brush_6 { width: 70px; top: 160px; left: 380px; z-index: 1; }
.brush_7 { width: 70px; top: 160px; left: 380px; z-index: 1; }
.brush_8 { width: 70px; top: 160px; left: 380px; z-index: 1; }
.brush_9 { width: 70px; top: 160px; left: 380px; z-index: 1; }
.brush_10 { width: 70px; top: 160px; left: 380px; z-index: 1; }

.sponge { width: 70px; top: 240px; left: 300px; z-index: 1; }
.sponge_2 { width: 65px; top: 240px; left: 325px; z-index: 1; }
.sponge_3 { width: 70px; top: 240px; left: 300px; z-index: 1; }
.sponge_4 { width: 70px; top: 240px; left: 300px; z-index: 1; }
.sponge_5 { width: 70px; top: 240px; left: 300px; z-index: 1; }
.sponge_6 { width: 70px; top: 240px; left: 300px; z-index: 1; }
.sponge_7 { width: 70px; top: 240px; left: 300px; z-index: 1; }
.sponge_8 { width: 70px; top: 240px; left: 300px; z-index: 1; }
.sponge_9 { width: 70px; top: 240px; left: 300px; z-index: 1; }
.sponge_10 { width: 70px; top: 240px; left: 300px; z-index: 1; }

.wisp { width: 70px; top: 370px; left: 580px; z-index:1; }
.wisp_2 { width: 70px; top: 270px; left: 400px; z-index:1; }
.wisp_3 { width: 70px; top: 250px; left: 380px; z-index:1; }
.wisp_4 { width: 70px; top: 250px; left: 380px; z-index:1; }
.wisp_5 { width: 70px; top: 250px; left: 380px; z-index:1; }
.wisp_6 { width: 70px; top: 250px; left: 380px; z-index:1; }
.wisp_7 { width: 70px; top: 250px; left: 380px; z-index:1; }
.wisp_8 { width: 70px; top: 250px; left: 380px; z-index:1; }
.wisp_9 { width: 70px; top: 250px; left: 380px; z-index:1; }
.wisp_10 { width: 70px; top: 250px; left: 380px; z-index:1; }

.vacuum-cleaner { width: 70px; top: 320px; left: 300px; z-index: 1; }
.vacuum-cleaner_2 { width: 70px; top: 320px; left: 300px; z-index: 1; }
.vacuum-cleaner_3 { width: 70px; top: 320px; left: 300px; z-index: 1; }
.vacuum-cleaner_4 { width: 70px; top: 320px; left: 300px; z-index: 1; }
.vacuum-cleaner_5 { width: 70px; top: 320px; left: 300px; z-index: 1; }
.vacuum-cleaner_6 { width: 70px; top: 320px; left: 300px; z-index: 1; }
.vacuum-cleaner_7 { width: 70px; top: 320px; left: 300px; z-index: 1; }
.vacuum-cleaner_8 { width: 70px; top: 320px; left: 300px; z-index: 1; }
.vacuum-cleaner_9 { width: 70px; top: 320px; left: 300px; z-index: 1; }
.vacuum-cleaner_10 { width: 70px; top: 320px; left: 300px; z-index: 1; }

.pet-shovel { width: 70px; top: 320px; left: 380px; z-index: 1; }
.pet-shovel_2 { width: 70px; top: 320px; left: 380px; z-index: 1; }
.pet-shovel_3 { width: 70px; top: 320px; left: 380px; z-index: 1; }
.pet-shovel_4 { width: 70px; top: 320px; left: 380px; z-index: 1; }
.pet-shovel_5 { width: 70px; top: 320px; left: 380px; z-index: 1; }
.pet-shovel_6 { width: 70px; top: 320px; left: 380px; z-index: 1; }
.pet-shovel_7 { width: 70px; top: 320px; left: 380px; z-index: 1; }
.pet-shovel_8 { width: 70px; top: 320px; left: 380px; z-index: 1; }
.pet-shovel_9 { width: 70px; top: 320px; left: 380px; z-index: 1; }
.pet-shovel_10 { width: 70px; top: 320px; left: 380px; z-index: 1; }
.sign {
    /* width: 100px; top: 150px; left: 300px;
     /*float: right;  Выравнивание по правому краю */
    /*border: 1px solid #333;  Параметры рамки */
    /*padding: 7px;  Поля внутри блока */
    /* margin: 100px 100px 5px 5px; Отступы вокруг */
    /*background: #f0f0f0; /* Цвет фона */
}
/*.sign figcaption {
    /* margin: auto; Отступы вокруг абзаца */
/*   text-align: center;
}

.example2 {
   /*display:inline-block;*/
  /*  position: absolute;

}
/*.example2 span {
    /*display:inline-block;*/
/*    position: static;
    top:-50px;
    left: 40%;

    /* Оформление текста */
  /*  color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;

    /* Фон */
/*    background-color:rgba(0,0,0,.4);
    padding:10px 30px;
}*/

@media only screen and (max-width:400px) {
    .element-container, .required-container, .passed-container {
        width: 300px;
        height: auto;
        max-width: 300px;
        left: 10px;
        z-index: 1;  }
}
@media only screen and (max-width:480px) {
    .element-container, .required-container, .passed-container {
        width: 450px;
        height: auto;
        left: 10px;
        z-index: 1;  }
}

@media only screen and (max-width:768px) {
    .element-container, .required-container, .passed-container {
        width: 700px;
        height: auto;
        left: 10px;
        z-index: 1;  }
}

@media only screen and (max-width:800px) {
    .element-container, .required-container, .passed-container {
        width: 760px;
        height: auto;
        left: 10px;
        z-index: 1;  }
}

@media only screen and (max-width:1024px) {
    .element-container, .required-container, .passed-container {
        width: 700px;
        height: auto;
        left: 20px;
        z-index: 1;  }
}

@media only screen and (max-width:1280px) {
    .element-container, .required-container, .passed-container {
        width: 700px;
        height: auto;
        z-index: 1;  }
}


/*.table-finish {display:table; border-spacing:0px; border:solid 0px ghostwhite; width:100%; font-size: 1em}
.table-row {display:table-row; border:solid 1px ghostwhite;}
.table-cell {display:table-cell; border:solid 1px gainsboro; text-align: center; padding: 5px}
.table-cell-top {display:table-cell; border:solid 1px gainsboro; text-align: center; vertical-align:middle}
.table-cell-left {display:table-cell; border:solid 1px gainsboro; text-align: left; padding: 5px}
.table-cell-danger {display:table-cell; border:solid 1px gainsboro; background-color: red; text-align: center; color: white}
.table-cell-success {display:table-cell; border:solid 1px gainsboro; background-color: #26A69A; text-align: center; color: white}
.table-finish ul li {margin: 5px; padding: 5px; line-height: 1em}*/

/* Scale */

.bar-wrapper {
    display: inline-block;
    width:110px;
}

.bar-wrapper-learn {
    display: inline-block;
    width:20px;
}

.learning-progress-bar-fill {
    background: rgb(226, 226, 226) none repeat scroll 0 0;
    height: 10px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transition: width 0.2s linear 0s; }

.learning-progress-bar-block {
    position: relative;
    margin: 0 -2px 2px -2px;
    background: rgb(56, 172, 77) none repeat scroll 0 0;
    height: 100px;
    width: 5px;
}

.learning-progress-bar-object-fill {
    /*background: rgba(226, 226, 226, 0.3) none repeat scroll 0 0;*/

    height: 10px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transition: width 0.2s linear 0s; }

.learning-progress-bar-object-block {
    position: relative;
    margin: 0 -2px 2px -2px;
    /*background: rgba(218, 252, 255, 0.3) none repeat scroll 0 0;*/
    height: 157px;
    width: 190px;
}

.feeding-progress-bar-fill {
    background: rgb(226, 226, 226) none repeat scroll 0 0;
    height: 50px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transition: width 0.2s linear 0s; }

.feeding-progress-bar-block {
    position: relative;
    margin: 0 -20px 20px -20px;
    background: rgb(56, 172, 77) none repeat scroll 0 0;
    height: 100px;
    width: 100px;
}
.cleaning-progress-bar-fill {
    background: rgb(226, 226, 226) none repeat scroll 0 0;
    height: 50px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transition: width 0.2s linear 0s; }

.cleaning-progress-bar-block {
    position: relative;
    margin: 0 -20px -20px -20px;
    background: rgb(56, 172, 77) none repeat scroll 0 0;
    height: 100px;
    width: 100px;
}

.gaming-progress-bar-fill {
    background: rgb(226, 226, 226) none repeat scroll 0 0;
    height: 50px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transition: width 0.2s linear 0s; }

.gaming-progress-bar-block {
    position: relative;
    margin: 0 -20px -20px -20px;
    background: rgb(56, 172, 77) none repeat scroll 0 0;
    height: 100px;
    width: 100px;
}

.training-progress-bar-fill {
    background: rgb(226, 226, 226) none repeat scroll 0 0;
    height: 50px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transition: width 0.2s linear 0s; }

.training-progress-bar-block {
    position: relative;
    margin: 0 -20px -20px -20px;
    background: rgb(56, 172, 77) none repeat scroll 0 0;
    height: 100px;
    width: 100px;
}